:root {
  --primary-color: black;
  --antiPrimary-colorwhite:white;
  --theme-color:yellow;
}
html {
  color-scheme: dark;
  font-size: 11px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  overflow: none;
}
/* ..Common CSS for whole website... */
li {
  list-style: none;
  font-size: 1.2rem;
  padding: 12px;
}
li span {
  display: block;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
h1 + p {
  text-align: center;
  padding: 1rem 0rem 2rem 0;
}
h1 span {
  color: var(--theme-color);
}
h2 {
  text-align: center;
  margin: 2rem 0rem;
}
.btn {
    text-decoration: none;
    width: 250px;
    padding: 0.5rem;
    margin: 1rem auto;
    background-color: var(--theme-color);
    color: var(--primary-color);
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}
.btn:hover {
  opacity: 0.7;
  transition: 0.3s;

}
.btn i{
    color: var(--primary-color);
    margin-right: 5px;
}
hr {
  border-color: var(--theme-color);
  width: 85%;
  margin: auto;
}

/* .......Gear Section........................ */
.dropup {
  position:fixed;
  display: inline-block;
  right: 0;
  bottom: 50vh;
  background-color:none;
}
.dropup .dropbtn {
  /* background-color: var(--antiPrimary-color); */
  /* color: var(--antiPrimary-color); */
  padding: 16px;
  font-size: 16px;
  background-color:transparent;
  border: none;
}
.dropbtn i {
  animation: 1s gear-rotate linear infinite;
  font-size: 1.5rem;
}
.dropup-content {
  display: none;
  position: absolute;
  min-width: 80px;
  bottom: 50px;
  z-index: 10;
}

.dropup-content a {
  /* color:var(--antiPrimary-color); */
  width: 1rem;
  height: 1rem;
  margin: 3px;
  padding: 16px 16px;
  border-radius: 50%;
  text-decoration: none;
  display: block;
}
.dropup:hover .dropup-content {
  display: block;
}
.dropup-content a:nth-child(1){
  background-color: #05a4fa;
}
.dropup-content a:nth-child(2){
  background-color: cyan;
}
.dropup-content a:nth-child(3){
  background-color: #fa058c;
}
.dropup-content a:nth-child(4){
  background-color: #9842f5;
}
.dropup-content a:nth-child(5){
  background-color: #6bfa4b;
}
.dropup-content a:nth-child(6){
  background-color: #ff0a4b;
}


@keyframes gear-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
/* .......Gear Section end........... */

/* ......Navbar section....... */
.nav-bar {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 1rem;
  position: sticky;
  top: 0;
}
.nav-bar .hamburger {
  cursor: pointer;
}
.nav-bar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.nav-bar .nav-menu {
  position: fixed;
  left: -100%;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 12rem;
  /* max-width: 40%; */
  padding-left: 1rem;
  transition: 0.3s;
}
.nav-bar .nav-item {
  margin: 1rem 0;
}
.nav-bar .nav-item i{
  margin-right: 1rem;
}
.nav-cv{
  font-size: 1rem;
  color: var(--theme-color);
}
.nav-cv:hover{
  border-bottom: 1px solid var(--theme-color);
}
.nav-bar .nav-menu.active {
  left: 0;
}
.nav-bar .nav-link {
  transition: 0.7s ease;
  color: var(--antiPrimary-color);

}
.nav-bar .nav-link:hover {
  color: var(--theme-color);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* ......Home section Starts..... */
.home {
  min-height:calc(100vh-20px);
  text-align: center;
  padding: 0 2rem;
}
.home .profile-pic {
  width: 200px;
  height: 200px;
  border: 5px solid var(--theme-color);
  border-radius: 50%;
  background-image: url("./image/s_off.png");
  background-size: cover;
  background-position: center;
  margin: 3rem auto 1rem auto;
}

.home .text {
  padding: 2rem;
}

.home .text p {
  margin: 2rem 0;
  text-align: justify;
}

/* ....About Section Start......... */

.about {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
.about .about-right-col{
  margin: 0 3rem;
}
.about .about-right-col span{
  color: var(--theme-color);
}
.about .about-right-col dl{
 text-align: left;
}
.about table span {
  margin-right: 1rem;
  color: var(--theme-color);
}
.about table td {
  padding: 0.3rem;
  text-align: left;
}
.about img {
  width: 100%;
  /* padding:0 1rem; */
  height: 500px;
}
/* ......education............. */

.education {
  width: 100%;
  padding: 5rem;
  margin: 0 auto;
}
.education .box {
  padding: 0 2rem;
  border-left: 0.2rem solid var(--theme-color);
}
.education h3 {
  color: var(--theme-color);
  position: relative;
  width: inherit;
}
.education p {
  width: 100%;
  margin: 1.2rem 0;
}
.education h3::before {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: -2.85rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--theme-color);
}
/* .....skills........ */
.skills {
  padding: 3rem;
}
.skills li {
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
}
/* .skills .skill-container {
  width: 100%;
} */
.skills .progress-container {
  width: 90%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid var(--theme-color);
  border-radius: 30px;
}
.skills .progress-container .progress-data {
  background-color: var(--theme-color);
  color: var(--primary-color);
  /* color: whitesmoke; */
  height: inherit;
  border-radius: inherit;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.skills .progress-container .progress-data span {
  padding-left: 2rem;
  font-weight: 700;
}
/* ...........portfolio........... */
.portfolio {
  padding: 1rem;
}
.portfolio img {
  width: 100%;
  margin: 5px 0;
}
/* ....Contact Section...... */
.contact {
  padding: 3rem;
  margin: 0 auto;
}
.contact .info i {
  color: var(--theme-color);
  text-align: left;
  padding: 0.5rem;
}
.contact .info a{
  color: var(--antiPrimary-color);
}
.contact .info a:hover {
  border-bottom: 2px solid var(--theme-color);
}
.contact form input {
  width: 100%;
  height: 2rem;
  border: none;
  margin: 1rem 0rem;
  padding: 2rem;
}
 .contact form button {
  margin-left: 0;
  border: none;
} 
/*
.contact form button i {
  color: var(--primary-color);
  margin-right: 1rem;
} */

.contact .title {
  font-size: 1.5rem;
}
.contact p {
  font-size: 1.3rem;
  color: var(--theme-color);
}
.contact-links > a {
  font-size: 1.3rem;
  color: var(--antiPrimary-color);
  padding: 5px;
  text-decoration: none;
  margin: 12px;
}
.contact-footer {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
}
.contact-footer .title{
  color: var(--theme-color);
}
.contact-footer .link{
  /* margin: 0 auto; */
  display: inline-block;
  margin: 1rem;
}
.contact-footer a{
  /* text-align: center; */
  display: inline-block;
  
  color: var(--antiPrimary-color);
}
.contact-footer a:hover{
color: var(--theme-color);
}
.contact-footer a i{
  color: var(--theme-color);
}
/*contact section end */

/* footer start */
footer {
  text-align: center;
  padding: 50px;
}
/*footer end */

/* ....media for iPad.... */
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .home .profile-pic {
    width: 100%;
    height: 50vh;
    border: 2px dashed var(--theme-color);
    border-radius: 1rem;
  }
  
  .projects-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact .info,
  span {
    text-align: left;
  }
  .contact .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ....media for large Screens, TV.. */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  .home .profile-pic {
    width: 100%;
    height: 80vh;
    /* border-radius: 1rem;  */
  }
  .home h1{
    margin: 1rem 0;
  }
  .grid-l-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
}
/* ....media for extra large Screens, TV.. */
@media only screen and (min-width: 1200px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  .app-container {
    max-width: 1400px;
    margin: 0 auto;
    border: 2px solid var(--theme-color);
  }
  .nav-bar .nav-menu.active {
   position: absolute;
  }
}
